body{
    width: 100%;
    height: 250px;
    background-color: #f2efe3;
    margin: auto;
    overflow-x: hidden;
}
.chude{
    width: 100%;
    height: 20px;
    font-weight: 400;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.chude >li >a{
    text-decoration: none;
    display: block;
    float: left;
}
.chude > li{
    list-style: none;
    float: left;
    padding: 0px 20px 0px 20px;
    line-height: 40px;
}
.chude li:hover{
    color: #92AAc7;
    transition: 0.9s;
    font-size: 19px;
}
nav>img{
    float: left;
}
article{
    width: 75%;
    float: left;
    min-height: 400px;
}
aside{  
    width:25%;
    height: 340px;
    background-color: #f2efe3;
    float: right;
    border-bottom: 1px dotted black;
}
.vmenu>a{
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
aside>a{
    height: 25px;
    width: 25%;
    font-weight: 500;
    font-size: 40px;
    color: #92AAc7;
    text-align: center;
    text-emphasis: none;
}
.box{
    font-size: 30px;
    width: 0px;
    height: 0px;
    position: relative;
    left: 700px;
    bottom: 40px;
    border: none;
}
input{
    font-size: 20px;
    border: none;
    background-color: #f2efe3;
}
.full{
    width: 25%;
    height: 200px;
    float: left;
}
.more{
    box-shadow: 0 0 0px violet ;
    width: 300px;
    height: 180px;
    margin: 2px;
}
.name>img{
    width: 300px;
    position: relative;
    left: 10px;
}
.name{
    text-align: center;
    font-variant: small-caps;
    color: blue;
}
.address{
    text-align: center;
    font-size: 20px;
}
.address>img{
    width: 80px;
    height: 60px;
    position: relative;
    bottom: 160px;
    left: 80px;

}
.address>iframe{
    bottom: 160px;
    left: 80px;

}
.vitri{
    text-align: center;
    position: relative;
    left: 350px;
    bottom: 320px;
}
footer{
    background-color: #92AAc7;
    position: relative;
    top : 60px;
    width: 100%;
    height: 200px;
    clear: both;
}
footer>a{
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.tel{
    position: relative;
    bottom: 270px;
}
.tel.lienhe>p{
    font-size: 500px;
}
.infor>p{

}
u>h3{
    text-decoration: none;
    
}
.prod>a{
    color: black;
}
.prod{
    color: black;
    height: 210px;
    width: 250px;
    border: 1px solid wheat;
    float: left;
    margin-left: 40px;
    text-decoration: none;
}
.prod:hover{
    box-shadow: 0 0 10px #C9CCD5;
}
.price{
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.prod2{
    height: 70px;
    width: 250px;
    float: left;
    margin-left: 40px;
    position: relative;
    right: 5px;
}
.prod3{
    height: 70px;
    width: 250px;
    float: left;
    margin-left: 40px;
    position: relative;
    right: 100px;
    bottom: 18px;
}
.prod4{
    height: 70px;
    width: 250px;
    float: left;
    margin-left: 40px;
    position: relative;
    bottom: 60px;
    right: 280px;
}  
.prod5{
    height: 70px;
    width: 250px;
    position: relative;
    left: 550px;
    bottom: 140px;
}   
.prod6{
    height: 40px;
    width: 250px;
    position: relative;
    left: 490px;
    bottom: 30px;
}       
.prod6{
    height: 40px;
    width: 250px;
    position: relative;
    left: 490px;
    bottom: 30px;
}     
.prod7{
    height: 25px;
    width: 250px;
    position: relative;
    left: 650px;
    bottom: 180px;
}        
.prod8{
    height: 5px;
    width: 250px;
    position: relative;
    bottom: 90px;
    left: 120px;
}      
ul nav ul.vmenu>li>a{
    display: block;
    border-bottom: 1px solid black;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    padding: 10px 10px 10px 30px;
    font-weight: 400;
    position: relative;
    right: 60px;
    bottom: 20px;
}
 ul nav ul.vmenu>li>a:hover{
    background-color: #92AAc7;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
li{
    list-style: none;
}